<div class="row">
  <div class="col-md-12">

    <div class="well">
      <div class="media-left">
        <img class="media-object" ng-src="{{$ctrl.ad.item_image}}" width=200px height=200px>
        <a ui-sref="edit({ ad_id: $ctrl.ad.id })">edit</a>
        <a href="#" ng-click="$ctrl.deleteAd()">delete</a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          {{$ctrl.ad.title}}
          |
          ${{$ctrl.ad.price}}
        </h4>
        <div class="text-right">
          Some Author
        </div>
        <p>
          {{$ctrl.ad.description}}
        </p>
        <div>
          {{$ctrl.ad.created_at.fromNow()}}
        </div>
      </div>
    </div>

  </div>
</div>
