<div class="row ad">

  <div class="col-md-3">
    <img class="media-object" ng-src="{{$ctrl.ad.item_image}}" width=200px height=200px>
  </div>
  <div class="col-md-9">
    <h4 class="media-heading">
          {{$ctrl.ad.title}}
          |
          ${{$ctrl.ad.price}}
        </h4>
    <p>
      {{$ctrl.ad.description}}
    </p>
    <div>
      {{$ctrl.ad.created_at.fromNow()}}
    </div>
    <div class="actions">
      <a class="btn btn-default" ui-sref="edit({ ad_id: $ctrl.ad.id })">edit</a>
      <a class="btn btn-default" href="#" ng-click="$ctrl.deleteAd()">delete</a>
    </div>
  </div>

</div>
